[submodule "myblog/themes/themes/apollo"]
	path = myblog/themes/themes/apollo
	url = https://github.com/not-matthias/apollo
[submodule "myblog/themes/d3c3nt"]
	path = myblog/themes/d3c3nt
	url = git://git.figbert.com/d3c3nt.git
