{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>

<h3>
  <a href="https://baeaen.com">Home</a>
</h3>  

<h4>
  <p class="subtitle"><strong>{{ page.date }}</strong></p>
</h4>

<meta name="viewport" content="width=device-width">

<style>
  h1{
      text-align: center;
  }
  
  h3{
    text-align: center;
  }
  p{
    text-overflow: ellipsis;
    width: 340px;
    white-space: wrap;
    overflow: hidden;
  }
</style>

<!-- thanks to Alex for the help on limiting text!: https://stackoverflow.com/questions/2757483/limiting-the-number-of-characters-per-line-with-css-->

<p>{{ page.content | safe }}</p>
{% endblock content %}
