{% extends "base.html" %}

{% block content %}

<h1 class="title">
  {{ section.title }}
</h1>

<h3>
  <a href="https://baeaen.com">Home</a>
</h3> 
<meta name="viewport" content="width=device-width">
<style>
  h3{
    text-align: center;
  }
  h1{
    text-align: center;
  }
</style>

<ul>
  <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
  {% for page in section.pages %}
  <li style="padding-bottom: .9em"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>

{% endblock content %}